* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

div#contenido {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding:0.5rem;
    color: white;
    background-color: lightgray;
    margin: 0;
}

div#contenido header {
    background-color: lightblue;
    padding:1rem 0;
    text-align: center;
    margin-bottom: 0.5rem;
}

div#contenido main {
    display: flex;
    flex-direction: column;
    align-content: center;
}

div#contenido main article {
    background-color: purple;
    padding-top: 1rem;
    padding-bottom: 20rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

div#contenido main nav {
    background-color: orange;
    padding: 1rem 0;
    text-align: center;
    order: -1;
    margin-bottom: 0.5rem;
}

div#contenido main aside {
    background-color: rgb(184, 240, 240);
    padding: 1rem 0;
    text-align: center;
    margin-bottom: 0.5rem;
}

div#contenido footer {
    background-color: rgb(44, 140, 224);
    text-align: center;
    padding:1rem 0;
}

@media (min-width:768px) {
    div#contenido main {
        flex-direction: row;

    }

    div#contenido main article {
        flex: 3;
        margin: 0 0.5rem;
        margin-bottom: 0.5rem;
    }

    div#contenido main nav {
        flex: 1;

    }

    div#contenido main aside {
        flex:  1;
    }
}