/* Apartado A */
body {
    font-family: 'open sans', sans-serif;
    font-size: 14px;
    color: black;
    background-color: white;
}

/* Apartado B */
header, footer {
    background-color: #e6e7e8;
    border:  #3f3f3f solid 2px;
}

/* Apartado C */
footer {
    color: #3f3f3f;
    height: 2rem;
}

/* Apartado D */
#logo {
    width: 5rem;
    height: 4.35rem;
}

/* Apartado E */
h1, h2, h3, h4, h5, h6 {
    font-family: "Bree Serif", serif;
    color: #00acdd;
}

/* Apartado F */
header h1 {
    color:#004166;
    font-weight: bold;
}

/* Apartado G */
#subject {
    color: #96bc33;
}

/* Apartado H */
a {
    text-decoration: none;
}
a:link {
    color: #00acdd;
}
a:visited {
    color: #ea2126;
}
a:hover {
    cursor: pointer;
    color: #f58a1e;
}

/* Apartado I */
nav ul li {
    list-style-type: none;
}

/* Apartado J  (Se puede hacer tanto con id como con nav, ya que es el único) */
#main-menu {
    background-color: #004166;
    font-weight: bold;
    border: 2px solid #e6e7e8;
}

/* Apartado K */
main {
    border: 2px solid #004166;
}

/* Apartado L */
main section h2 {
    text-align: center;
}

/* Apartado M */
.new-art {
    border: 5px solid #e6e7e8;
    border-radius: 10px;
    width: 50%;
}

/* Apartado N */
main section article img {
    width: 30%;
    height: auto;
}

/* Apartado O */
main section article p {
    width: 70%;
    height: auto;
}

/* Apartado P */
main section h2 + article {
    background-color: #e6e7e8;
    border-color: #f58a1e;
}

/* Refactorizo todos los border-radius de 5px */
main, #main-menu, header, footer {
    border-radius: 5px;
}