/* Etiquetas generales */
* {
  box-sizing: border-box;
}

/* Fin etiquetas generales */
/* Etiquetas específicas */
div#reproductor {
  background-color: #1F414F;
  max-width: 40rem;
  border-radius: 4rem;
  padding: 1rem;
}

div#reproductor button {
  background-color: inherit;
  border: none;

}

div#reproductor button svg {
  fill: #FFFFFF;
}

/* Cambio de icono en el play/pause */
div#reproductor button.play svg#pause {
  display: none;
}

div#reproductor button.pause svg#play {
  display: none;
}

/* Fin cambio de icono en el play/pause */

div#reproductor input[type="range"] {
  color: #1F414F;
}

div#reproductor span {
  color: #FFF;
  font-size: .8rem;
}

/* Fin etiquetas específicas */