/* Etiquetas generales */
* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

/* Fin etiquetas generales */
/* Etiquetas específicas */
div#reproductor {
  background-color: #1F414F;
  max-width: 40rem;
  border-radius: 4rem;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div#reproductor button {
  background-color: inherit;
  border: none;

}

div#reproductor button svg {
  fill: #FFFFFF;
}

/* Cambio de icono en el play/pause */
div#reproductor button.play svg#pause {
  display: none;
}

div#reproductor button.pause svg#play {
  display: none;
}


/* Fin cambio de icono en el play/pause */

/* Cambio de icono en el mute/unmuted */
div#reproductor button.muted svg#unmuted {
  display: none;
}

div#reproductor button.unmuted svg#muted {
  display: none;
}


/* Fin cambio de icono en el mute/unmuted */
/* Cambio el estilo de las barras */
div#reproductor input[type="range"] {
  height: 10px;
  border-radius: 20rem;
  background-image: linear-gradient(to right, #02C38A calc(var(attr(value))*1%), black 0);
}

/* Fin al cambio el estilo de las barras */

div#reproductor span {
  color: #FFF;
  font-size: .8rem;
}

/* Fin etiquetas específicas */